---
import { site } from "../data/site.tr";

interface Props {
  href?: string;
  logoSrc?: string;
}

const { href = "/", logoSrc = site.brand.logoSrc } = Astro.props;
---

<a class="brand" href={href} aria-label={site.brand.homeAriaLabel}>
  <span class="brand-mark" aria-hidden="true">
    <img src={logoSrc} alt="" width="42" height="42" />
  </span>
  <span class="brand-copy">
    <strong>{site.brand.displayName}</strong>
    <small>{site.brand.subtitle}</small>
  </span>
</a>
